<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Euler | [Problem XXXX: Problem Description]</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>

    </header>
    <section id="intro">
        <h1>Project Euler | [Problem XXXX: Problem Description]</h1>
        <hr>
        <p>Copy and paste the text from the problem page on Project Euler.</p>

        <p>Link to pages on Project Euler and Github</p>
  
    </section>

    <section id="description">
        <div class="half" id="explanation">
            <h2>Explanation</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae culpa eius temporibus minus voluptate dignissimos praesentium velit, eveniet deleniti nulla modi id aliquid quisquam? Nostrum perspiciatis totam beatae nam nulla!</p>
        </div>
        <div class="half" id="code">
            <h2>Code</h2>
            <pre><code>Copy and paste the code as-is from the associated scripts.js file. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum itaque nihil magni dolor aliquam sint corporis totam reiciendis. Pariatur eligendi dolore quis optio itaque officia cumque vitae aliquam nam quidem!</code></pre>
        </div>
    </section>

    <section id="demonstration">
        <h2>Demonstration:</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure temporibus quisquam rerum exercitationem reiciendis molestiae fugit ut, distinctio odio? Voluptate quae voluptatibus illo dolorum cupiditate reiciendis reprehenderit saepe nemo accusamus?</p>
    </section>



    <script src="./scripts.js"></script>
</body>
</html>